@use '../abstract/functions' as *;

#method-select {
	width: 6em;
}

.MuiTextField-root {
	flex-grow: 1;
}
.req-form {
	display: flex;
	width: 100%;
	align-items: stretch;
	margin-bottom: 1em;
}
.tab {
	padding: 3px;
}
.tab-panel {
	padding: 1em;
}
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid clr(primary, 500);
	border-radius: 5px;
}
.json {
	overflow: auto;
	max-height: 200px;
}
.response {
	margin: 2em 0 0.5em 1em;

	.stats {
		display: flex;
		margin-top: 1em;

		.stat {
			display: inline-block;
			margin-right: 2em;
		}
	}
}
.res-headers {
	margin: 0.5em 0 0.5em 0.5em;

	.res-header {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		gap: 1rem 0;
	}
}

h1 {
	margin-bottom: 1em;
}
