@use '../abstract/functions' as *;

.MuiOutlinedInput-root,
.MuiInputLabel-root,
.MuiInputBase-root {
	color: clr(neutral, 300) !important;
}
.MuiOutlinedInput-root {
	input:-webkit-autofill {
		-webkit-text-fill-color: clr(primary, 300) !important;
		box-shadow: 0 0 0 1000px #74515100 inset !important;
	}
}
.MuiInput-underline::after {
	border-bottom-color: clr(primary, 500);
}
.MuiOutlinedInput-notchedOutline {
	border-color: clr(primary, 300) !important;
}
.Mui-focused {
	color: clr(primary, 300) !important;
}
.MuiButton-root {
	width: 10em;
	min-height: 4em;

	&.delete {
		color: clr(error, 500) !important;
		border-color: clr(error, 500) !important;
	}
	&.add {
		color: clr(add, 500) !important;
		border-color: clr(add, 500) !important;
	}
}
.MuiButton-contained {
	background-color: clr(primary, 900) !important;
}
.MuiTabs-indicator {
	background-color: clr(primary, 500) !important;
}
.MuiTab-root.Mui-selected {
	color: clr(primary, 500) !important;
}
.MuiPaper-root {
	background-color: clr(neutral, 800) !important;
	color: clr(neutral, 300) !important;
}
.MuiTab-root {
	background-color: clr(neutral, 900) !important;
	color: clr(neutral, 300) !important;
}
